# Ignorar arquivos de build e temporários do Delphi
*.dcu
*.dsk
*.local
*.identcache
*.tvsconfig
*.~*
*.bak
*.cfg
*.dcp
*.dres
*.stat
*.dproj.local
*.dproj.deployproj
*.tmp
*.map
*.log

# Ignorar arquivos gerados ao compilar para mobile
*.apk
*.aab
*.ipa
*.app
*.so
*.jar
*.dex

# Ignorar pastas que o Delphi cria ao compilar
__history/
__recovery/
Win32/Debug/
Win32/Release/
Win64/Debug/
Win64/Release/
Android/Debug/
Android/Release/
Android64/Debug/
Android64/Release/
iOSSimulator/Debug/
iOSSimulator/Release/
iOSDevice64/Debug/
iOSDevice64/Release/
OSX32/Debug/
OSX32/Release/

# Pastas de plataforma (caso existam fora das subpastas Debug/Release)
Win32/
Win64/
Android/
Android64/
iOSDevice64/
iOSSimulator/
OSX32/

# Evitar arquivos de configurações locais
.vscode/
.idea/
*.DS_Store
Thumbs.db
